.konteiner {
  margin-top: 20px;
  width: 35rem;
  height: 40rem;
  background-color: rgb(167, 199, 199);
  padding: 20px;
  border-radius: 15px;
  justify-content: center;
  display: flex;
}

.container {
  justify-content: center;
  display: flex;
}

.intro {
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.scroll {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

header {
  background-color: black;
  color: white;
  padding: 1rem;
}

nav a:hover {
  color: gold;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020024;
  background: linear-gradient(
    177deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 2.5rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #003973 0%,
    #e5e5be 51%,
    #003973 100%
  );
}
.btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.hero img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10%;
}

h1,
h2,
h3,
p {
  margin: 2rem;
}

.social-icons i {
  font-size: 2rem;
  margin-right: 15px;
  color: #444;
  transition: 0.3s;
}

.social-icons i:hover {
  color: #007bff;
}
footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  margin-top: 1.5rem;
}
.skill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.skill {
  background-color: #ddd;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}

.project-card {
  background-color: #50f484;
  padding: 1rem;
  border-left: 18px solid #4aa55c;
  border-radius: 20px;
  margin-top: 1rem;
}
